* {font-family: Verdana, sans-serif;}
* {font-size: small;}
body {
	margin: 0;
	padding: 0;
	text-align: center; 
	background-color: #FFFFFF;
}
#navcontainer {
	clear: right;	
	vertical-align: top;
	bottom: 52px;
	position: relative;
	width: 100%;
	z-index: 99;
	*width: 960px !important;
}

.navs {
	z-index: 100;
}

* html div.navs {
	margin-top: 6px;
}

img {
	border: 0;
}

.contentpane tr {
	font-size: 13px;
	width: 100%;
}

.contentpaneopen {
    font-size: 13px;
    width: 100%;
}

.contentheading {
    font-size: 24px;
    color: #333333;
}

.moduletable {
	margin: 0 0 20px 0;
}

.moduletable th {
    font-size: 1.2em;
    text-align: left;
    background-color: #B2B2B2;
    padding: 11px 0 12px 8px;
    height: 20px;
    width: 270px;
}

.moduletable table tr td {
	height: 41px;
    	width: 270px;
    	font-size: 14px;
    	text-align: left;
	border-bottom: 2px dotted #A5AEC5; 
	padding-left: 8px;
}

.moduletable table tr {
	height: 41px;
}

form {
	border-bottom: 0;
}

.content_rating {
    font-size: 12px;
}

.content_vote {
    font-size: 12px;
}

.button {
    font-size: 12px; 
	border: 2px solid #d8d8d8; 
	background-color: #EBEBEB; 
	font-weight: normal; 
	color: #2b5b99;
}

div.back_button { 
	border: 2px solid #d8d8d8; 
	background-color: #EBEBEB; 
	width: 4em;
	text-align: center;
}
.back_button a {
	font-weight: normal; 
	font-size: 12px;
	color: #2b5b99;
	text-align: center;
}
a#current {
	background-color: #0C406F;
    	font-weight: normal;
    	padding: 14px 11% 13px 12%;
	/*display: block;
	*position: relative;
	*bottom: 13px;*/
}
a {
	color: #2B5B99;
	text-decoration: none;
}
a img {
	border: 0;
}
.generic_center {
	position: relative;
	width: 100%;
	margin: 0;
}
.top_right {
	float: right;
	position: absolute;
	bottom: 131px;
	right: 0;
	margin-right: 2%;
	height: 6%;
	text-align: center;
	text-decoration: none;
	padding: 20px 18px 25px 18px;
	background-image: url(../images/nav_background.png); 
	background-repeat: repeat;
	overflow: hidden;
	clear: both;
}
.top_right a {
	padding: 0 3px 0 3px;
	color: white;
	font-size: .8em;
}
.top_right div {
	padding: 10% 0 4% 0;
	display: block;
}

.top_right_login {
	float: right;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 2%;
        height: auto;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 5px 10px 0 0;
        clear: both;
        background-image: url(../images/nav_background.png);
}

.top_right_login div {
        padding: 2% 0 4% 0;
        display: block;
}


div.content {
	clear: left;
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	top: 160px;
	padding-top: 5px;
	font-size: 17px;
}
div.banner_back {
	width: 100%;
	background-color: black;
	height: 162px;
	float: left;
	top: 0;
	position: absolute;
}
#container {
	border: 0;
	width: 960px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}
#header {
	display: inline;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	clear: both;
	float: left;
}
#h_nav {
	margin: 0;
	padding-left: 0;
	height: 3.5em;
	min-height: 47px;
	height: auto !important;
	height: 47px;
	top: 115px;
	width: 100%;
	left: 0;
	background-image: url(../images/top_nav_background.png); 
	background-repeat: repeat;
	position: absolute;
}
#navlist {
	display: inline;
	padding: 0;
	margin: 0;
}

#navlist div {
	color: white;
	font-size: .7em;
	font-weight: normal;
	display: inline;
	padding: 21px 0 0 0;
	margin: 0;
}

a.images {
	padding: 14px 11% 13px 12%;
	color: white;
	overflow: hidden;
}
.menu_item a {
	color: white;
	position: relative;
	bottom: 3px;
}
div.menu_item {
	position: absolute;
	clear: left;
	float: left;
	margin-left: 4px;
	min-height: 45px;
	height: auto !important;
	height: 45px;
 	display: inline; 
 	font-size: .2em;
 	color: white;
 	text-align: left;
    	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
}

div.left {
	float: left;
	text-align: left;
	width: 68%;
	display: inline;
	padding-left: 20px;
	padding-top: 25px;
	margin: 0;
}

div.right {
	padding-top:38px;
	width: 28%;
	text-align: left;
	float: right;
	display: inline;
	margin: 0;
}
#bottom_left {
	padding-bottom: 20px;
}
#bottom_right {
	padding-bottom: 20px;
}
#bottom_center {
	padding-bottom: 20px;
}

div.featuredContent {
	font-size: 12px;
	width: 88%;
	padding: 5px 0 0 22px;
	text-align: left;
}
#bottom {
	height: 15em;
}
 
.componentheading {
    font-size: 24px;
    color: #333333; 
}
.dropMenu {
	position: relative;
	top: 0; /*if this is 8px then it wil drop accordingly*/
	float: left;
	min-width: 100%;
	padding-left: 5px; 
	background: #0c406f;
	text-align: left;
	white-space:nowrap; 
	overflow: visible;
	left: 0;
}

.dropMenu ul {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
	border-top:1px solid white;
}
.dropMenu li {
	list-style-type: none;
	position: relative;
	white-space: normal;
	padding: 5px 10px;
	text-align: left;
	border-bottom:1px solid white;
	margin-bottom: 0;
}
.dropMenu a {
	white-space: nowrap;
	font-size: 11px;
	background-color: #0C406F;
	width: 100%;
	text-decoration: none;
}
.dropMenu a:hover {
	text-decoration: underline;
}
.footer a {
	color: #898989;
}
.footer {
	clear: both;
	float: left;
	position: relative;
	margin-top: 40px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 9pt;
	text-align: center;
	color: #898989;
}
.clear {
	clear: both;
}

.customLoginModule th {
	background-color: #0d5687;
}

.errorContainer {
        color: #FF0000;
}

p.unreadposts, p.newreplies, p.time_logged_in {
	margin-top: -10px;
	width: 300px;
}

p.time_logged_in {
	margin-top: 5px;
}

